@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
    box-sizing: border-box;
}


header,
section {
    overflow-x: hidden;
}

:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #000000, );
    --light-gray: rgba(255, 255, 255, 0.877);
}


header a {
    font-family: var(--Sniglet-font);
    font-size: 0.9em;
    color: rgb(0, 0, 0);

}

header {
    background: #D5D5D5;

    background: var(--bggradient);
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 0rem;
}

header .nav-link:hover {
    color: black;
}



.carousel-inner img {
    width: 100%;
    height: 100%;
}




.aboutimg {
    width: 100%;
    height: 300px;
}





.cover {

    width: 100%;
    height: 55vmin;
    background: url("../img/a.jpg");
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}

.cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.cover .content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 19vmin;
}

.cover .content>h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content>p {
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: #D3D3D3;
    width: 17rem;
    height: 10rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;

}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    font-size: 5rem;
    color: #000000;
}

.numbers .rect>p {
    font-family: var(--Patua);
}

.programmes>h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Rubik);
}

.programmes>p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.programmes .cards .card {
    width: 22rem;
    margin: 3vmin 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.cards .title {
    background: rgba(208, 241, 241, 0.199);
    padding: 1.4em 2.5em;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: var(--light-black);
}


.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-4 .team {
    padding: 10vmin 4vmin;
}

.section-4 .card {
    width: 22em;
    margin-top: 3vmin;
}

.section-4 .card .card-text {
    padding: 0.5em;
}


.section-4 .carousel-item {
    padding-left: 3rem;
}

.border-radius {
    border-radius: 340px;
    width: 60%;
}

.img-wrap {
    width: 100%;
}

#aboutaa {
    margin-bottom: 50px;
}

.img-wrap img {
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #999999;
}